<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.bookjeok.book.model.dao.BookMapper">

<!-- saveBook -->
<insert id="saveBook" parameterType="book">
    INSERT 
    INTO 
    	BOOK (
		        BOOK_NO,
		        CATEGORY_ID,
		        BOOK_TITLE,
		        BOOK_AUTHOR,
		        BOOK_PUBLISHER,
		        BOOK_PUB_DATE,
		        BOOK_ISBN,
		        BOOK_PRICE,
		        BOOK_DESCRIPTION,
		        BOOK_COVER,
		        BOOK_CREATE_DATE,
		        BOOK_AMOUNT,
		        BOOK_STATUS
    			) 
    VALUES (
		        BOOK_NO_SEQ.NEXTVAL,
		        #{categoryId},
		        #{bookTitle},
		        #{bookAuthor},
		        #{bookPublisher},
		        #{bookPubDate},
		        #{bookIsbn},
		        #{bookPrice},
		        #{bookDescription},
		        #{bookCover},
		        DEFAULT,
		        #{bookAmount},
		        DEFAULT
    		)
</insert>

<!-- TopCategory 조회 -->
<select id="selectTopCategoryByName" resultType="topCategory" parameterType="string">
    SELECT 
	        TOP_CATEGORY_NO topCategoryNo, 
	        TOP_CATEGORY_NAME topCategoryName,
	        CATEGORY_STATUS categoryStatus
    FROM 
        	TOP_CATEGORY 
    WHERE 
        	TOP_CATEGORY_NAME = #{topCategoryName}
</select>

<!-- TopCategory 삽입 -->
<insert id="insertTopCategory" parameterType="topCategory">
    INSERT 
    INTO 
    		TOP_CATEGORY 
    		(
    		TOP_CATEGORY_NO, 
    		TOP_CATEGORY_NAME, 
    		CATEGORY_STATUS
    		)
    VALUES 
    		(
    		 top_category_seq.NEXTVAL, 
    		 #{topCategoryName}, 
    		 'Y'
    		 )
</insert>


<!-- UpperCategory 조회 -->
<select id="selectUpperCategoryByNameAndParentId" resultType="upperCategory" parameterType="map" >

    SELECT 
	        UPPER_CATEGORY_NO upperCategoryNo,
	        UPPER_CATEGORY_NAME upperCategoryName,
	        TOP_CATEGORY_NO topCategoryNo, 
	        CATEGORY_STATUS categoryStatus
    FROM 
        	UPPER_CATEGORY 
    WHERE 
        	UPPER_CATEGORY_NAME = #{upperCategoryName} 
    AND 
    		TOP_CATEGORY_NO = #{topCategoryNo}
</select>


<!-- UpperCategory 삽입 -->
<insert id="insertUpperCategory" parameterType="upperCategory">
    INSERT 
    INTO 
    		UPPER_CATEGORY 
    		(UPPER_CATEGORY_NO, UPPER_CATEGORY_NAME, TOP_CATEGORY_NO, CATEGORY_STATUS)
    VALUES 
    		(upper_category_seq.NEXTVAL, #{upperCategoryName}, #{topCategoryNo}, 'Y')
</insert>


<!-- MidCategory 조회 -->
<select id="selectMidCategoryByNameAndParentId" resultType="midCategory"  parameterType="map">
    SELECT 
        MID_CATEGORY_NO midCategoryNo,
        MID_CATEGORY_NAME midCategoryName,
        UPPER_CATEGORY_NO upperCategoryNo,
        CATEGORY_STATUS categoryStatus
    FROM 
        MID_CATEGORY 
    WHERE 
        MID_CATEGORY_NAME = #{midCategoryName} 
    AND 
    	UPPER_CATEGORY_NO = #{upperCategoryNo}
</select>


<!-- MidCategory 삽입 -->
<insert id="insertMidCategory" parameterType="midCategory">
    INSERT INTO MID_CATEGORY (MID_CATEGORY_NO, MID_CATEGORY_NAME, UPPER_CATEGORY_NO, CATEGORY_STATUS)
    VALUES (mid_category_seq.NEXTVAL, #{midCategoryName}, #{upperCategoryNo}, 'Y')
</insert>

<!-- LowerCategory 조회 -->
<select id="selectLowerCategoryByNameAndParentId" resultType="lowerCategory"  parameterType="map">
    SELECT 
        LOWER_CATEGORY_NO lowerCategoryNo, 
        LOWER_CATEGORY_NAME lowerCategoryName, 
        MID_CATEGORY_NO midCategoryNo, 
        CATEGORY_STATUS categoryStatus
    FROM 
        LOWER_CATEGORY 
    WHERE 
        LOWER_CATEGORY_NAME = #{lowerCategoryName} 
    AND 
    	MID_CATEGORY_NO = #{midCategoryNo}
</select>

<!-- LowerCategory 삽입 -->
<insert id="insertLowerCategory" parameterType="lowerCategory">
    INSERT 
    INTO 
    		LOWER_CATEGORY 
    		(LOWER_CATEGORY_NO, LOWER_CATEGORY_NAME, MID_CATEGORY_NO, CATEGORY_STATUS)
    VALUES 
    		(lower_category_seq.NEXTVAL, #{lowerCategoryName}, #{midCategoryNo}, 'Y')
</insert>


<select id="isbnCheck" parameterType="String" resultType="int">
	SELECT
			COUNT(*)
	FROM
			BOOK
	WHERE
			BOOK_ISBN = #{isbn}
</select>

<insert id="saveBookDetail" parameterType="bookDetail">
	INSERT
	INTO
			BOOK_DETAIL
			(
			DETAIL_NO,
			BOOK_NO,
			DETAIL_IMAGE,
			DETAIL_DESCRIPTION
			)
	VALUES
			(
			DETAIL_NO_SEQ.NEXTVAL,
			#{bookNo},
			#{detailImage},
			#{detailDescription}
			)
</insert>

<select id="isbnSelect" resultType="book" parameterType="String">
	SELECT
			BOOK_NO bookNo
	FROM
			BOOK
	WHERE
			BOOK_ISBN = #{isbn}

</select>

<select id="selectBookNo" resultType="book" parameterType="_int">
	SELECT
			BOOK_NO bookNo,
	        CATEGORY_ID categoryId,
	        BOOK_TITLE bookTitle,
	        BOOK_AUTHOR bookAuthor,
	        BOOK_PUBLISHER bookPublisher,
	        BOOK_PUB_DATE bookPubDate,
	        BOOK_ISBN bookIsbn,
	        BOOK_PRICE bookPrice,
	        BOOK_DESCRIPTION bookDescription,
	        BOOK_COVER bookCover,
	        BOOK_CREATE_DATE bookCreateDate,
	        BOOK_AMOUNT bookAmount
	FROM
			BOOK
	WHERE
			BOOK_NO = #{bookNo}

</select>


<select id="keywrodByBook" resultType="book" parameterType="String">
	  SELECT 
			BOOK_NO bookNo,
			CATEGORY_ID categoryId,
			BOOK_TITLE bookTitle,
			BOOK_AUTHOR bookAuthor,
			BOOK_PUBLISHER bookPublisher,
			BOOK_PUB_DATE bookPubDate,
			BOOK_ISBN bookIsbn, 
			BOOK_PRICE bookPrice,
			BOOK_DESCRIPTION bookDescription,
			BOOK_COVER bookCover,
			BOOK_CREATE_DATE  bookCreateDate,
			BOOK_AMOUNT bookAmount,
			BOOK_STATUS bookStatus
	 FROM (
	        SELECT
		            BOOK_NO,
		            CATEGORY_ID,
		            BOOK_TITLE,
		            BOOK_AUTHOR,
		            BOOK_PUBLISHER,
		            BOOK_PUB_DATE,
		            BOOK_ISBN, 
		            BOOK_PRICE,
		            BOOK_DESCRIPTION,
		            BOOK_COVER,
		            BOOK_CREATE_DATE,
		            BOOK_AMOUNT,
		            BOOK_STATUS,
		            ROWNUM RNUM
	        FROM
	           		BOOK
	        WHERE
		            BOOK_STATUS = 'Y'
	        AND 
	        		(BOOK_TITLE LIKE '%' || #{bookKeyword} || '%' OR BOOK_AUTHOR LIKE '%' || #{bookKeyword} || '%')
       		
	    )
	WHERE 
   			RNUM BETWEEN 1 AND 5
</select> 

<select id="topCategoryAll" resultType="topCategory" >
	SELECT
			TOP_CATEGORY_NO topCategoryNo,
			TOP_CATEGORY_NAME topCategoryName,
			CATEGORY_STATUS categoryStatus
	FROM
			TOP_CATEGORY
	WHERE
			CATEGORY_STATUS = 'Y'	

</select>
	
<select id="upperCategoryBytopNo" resultType="upperCategory" parameterType="Integer">
	SELECT
			UPPER_CATEGORY_NO upperCategoryNo,
			UPPER_CATEGORY_NAME upperCategoryName,
			TOP_CATEGORY_NO topCategoryNo,
			CATEGORY_STATUS categoryStatus
	FROM
			UPPER_CATEGORY
	WHERE
			TOP_CATEGORY_NO = #{topCategoryNo}
	AND
			CATEGORY_STATUS = 'Y'
</select>	


<select id="midCategoryByupperNo" resultType="midCategory" parameterType="Integer">
	SELECT
			MID_CATEGORY_NO midCategoryNo,
			MID_CATEGORY_NAME midCategoryName,
			UPPER_CATEGORY_NO upperCategoryNo,
			CATEGORY_STATUS categoryStatus
	FROM
			MID_CATEGORY
	WHERE
			UPPER_CATEGORY_NO = #{upperCategoryNo}
	AND
			CATEGORY_STATUS = 'Y'
			
</select>


<select id="lowerCategoryBymidCategoryNo" resultType="lowerCategory" parameterType="Integer">
	SELECT
			LOWER_CATEGORY_NO lowerCategoryNo,
			LOWER_CATEGORY_NAME lowerCategoryName,
			MID_CATEGORY_NO midCategoryNo,
			CATEGORY_STATUS	categoryStatus	
	FROM
			LOWER_CATEGORY
	WHERE
			MID_CATEGORY_NO = #{midCategoryNo}
	AND
			CATEGORY_STATUS = 'Y'
			
</select>

<select id="selectBookDetailBybookNo" resultType="bookDetail" parameterType="_int">
	SELECT
			DETAIL_NO detailNo,
			BOOK_NO bookNo,
			DETAIL_IMAGE detailImage, 
			DETAIL_DESCRIPTION detailDescription	
	FROM
			BOOK_DETAIL
	WHERE
			BOOK_NO = #{bookNo}

</select>
<!-- 리뷰 삽입 -->
<insert id="saveReview" parameterType="bookReview">
    INSERT INTO BOOK_REVIEW 
    (REVIEW_NO, USER_ID, ORDER_NO, BOOK_NO, REVIEW_CONTEXT, REVIEW_RATING, REVIEW_CREATE_DATE, REVIEW_UPDATE_DATE, REVIEW_STATUS)
    VALUES 
    (BOOK_REVIEW_SEQ.NEXTVAL, #{userId}, #{orderNo}, #{bookNo}, #{reviewContext}, #{reviewRating}, SYSDATE, NULL, 'Y')
</insert>

<!-- 특정 도서의 리뷰 선택 -->
<select id="selectBookReviewBybookNo" parameterType="int" resultType="bookReview">
    SELECT 
        REVIEW_NO reviewNo, 
        USER_ID userId, 
        ORDER_NO orderNo, 
        BOOK_NO bookNo, 
        REVIEW_CONTEXT reviewContext, 
        REVIEW_RATING reviewRating, 
        REVIEW_CREATE_DATE reviewCreateDate, 
        REVIEW_UPDATE_DATE reviewUpdateDate, 
        REVIEW_STATUS reviewStatus
    FROM 
        BOOK_REVIEW
    WHERE 
        BOOK_NO = #{bookNo}
    AND 
        REVIEW_STATUS = 'Y'
    ORDER BY 
        REVIEW_CREATE_DATE DESC
</select>


<select id="reviewAvg" parameterType="int" resultType="reviewAvg">
     SELECT 
         REVIEW_RATING rating, COUNT(*) count
     FROM 
         BOOK_REVIEW 
     WHERE 
         BOOK_NO = #{bookNo}
     AND 
         REVIEW_STATUS = 'Y'
     GROUP BY 
         REVIEW_RATING
 </select>


<select id="selectBookReviewByBookNo" resultType="bookReview">
    SELECT 
    		REVIEW_NO reviewNo, 
	        USER_ID userId, 
	        ORDER_NO orderNo, 
	        BOOK_NO bookNo, 
	        REVIEW_CONTEXT reviewContext, 
	        REVIEW_RATING reviewRating, 
	        REVIEW_CREATE_DATE reviewCreateDate, 
	        REVIEW_UPDATE_DATE reviewUpdateDate, 
	        REVIEW_STATUS reviewStatus 
    FROM 
    		BOOK_REVIEW
    WHERE 
    		BOOK_NO = #{bookNo}
    AND 
    		REVIEW_STATUS = 'Y'
    ORDER BY
        <choose>
            <when test="sortBy == 'latest'">
                REVIEW_CREATE_DATE DESC
            </when>
            <when test="sortBy == 'rating'">
                REVIEW_RATING DESC
            </when>
        </choose>
</select>

<select id="countReviews" resultType="int">
    SELECT 
    		COUNT(*)
    FROM 
    		BOOK_REVIEW
    WHERE 
    		BOOK_NO = #{bookNo}
    AND 
    		REVIEW_STATUS = 'Y'
</select>


<select id="getBookPrice" resultType="_int">
	SELECT
			BOOK_PRICE bookPrice
	FROM
			BOOK
	WHERE
			BOOK_NO = #{bookNo}
</select>

<select id="bookByKeyword" resultType="book" parameterType="String">
SELECT
		BOOK_NO bookNo,
		CATEGORY_ID categoryId,
		BOOK_TITLE bookTitle,
		BOOK_AUTHOR bookAuthor,
		BOOK_PUBLISHER bookPublisher,
		BOOK_PUB_DATE bookPubDate,
		BOOK_ISBN bookIsbn, 
		BOOK_PRICE bookPrice,
		BOOK_DESCRIPTION bookDescription,
		BOOK_COVER bookCover,
		BOOK_CREATE_DATE bookCreateDate,
		BOOK_AMOUNT bookAmount,
		BOOK_STATUS bookStatus
FROM
   		BOOK
WHERE
     	BOOK_STATUS = 'Y'
AND 
		(BOOK_TITLE LIKE '%' || #{keyword} || '%' OR BOOK_AUTHOR LIKE '%' || #{keyword} || '%')
</select>


<select id="bookCategoryDetail" resultType="bookCategoryDetail" parameterType="String">
SELECT 
	    b.BOOK_NO bookNo,
	    b.BOOK_TITLE bookTitle,
	    b.BOOK_AUTHOR bookAuthor,
	    b.BOOK_PUBLISHER bookPublisher,
	    TO_CHAR(b.BOOK_PUB_DATE, 'YYYY-MM-DD') bookPubDate,
	    b.BOOK_ISBN bookIsbn,
	    b.BOOK_PRICE bookPrice,
	    b.BOOK_DESCRIPTION bookDescription,
	    b.BOOK_COVER bookCover,
	    b.BOOK_CREATE_DATE bookCreateDate,
	    b.BOOK_UPDATE_DATE bookUpdateDate,
	    b.BOOK_AMOUNT bookAmount,
	    b.BOOK_STATUS bookAmount,
	    b.CATEGORY_ID categoryId,
	    t.TOP_CATEGORY_NAME topCategoryName,
	    u.UPPER_CATEGORY_NAME upperCategoryName,
	    m.MID_CATEGORY_NAME midCategoryName,
	    l.LOWER_CATEGORY_NAME lowerCategoryName,
	    d.DETAIL_NO detailNo,
	    d.DETAIL_IMAGE detailImage,
	    d.DETAIL_DESCRIPTION detailDescription
FROM 
    	BOOK b
LEFT JOIN 
		LOWER_CATEGORY l ON b.CATEGORY_ID = l.LOWER_CATEGORY_NO
LEFT JOIN 
		MID_CATEGORY m ON l.MID_CATEGORY_NO = m.MID_CATEGORY_NO
LEFT JOIN 
		UPPER_CATEGORY u ON m.UPPER_CATEGORY_NO = u.UPPER_CATEGORY_NO
LEFT JOIN 
		TOP_CATEGORY t ON u.TOP_CATEGORY_NO = t.TOP_CATEGORY_NO
LEFT JOIN 
		BOOK_DETAIL d ON b.BOOK_NO = d.BOOK_NO
WHERE
	(b.BOOK_TITLE LIKE '%' || #{keyword} || '%' OR b.BOOK_AUTHOR LIKE '%' || #{keyword} || '%')

</select>

<update id="updateBook" parameterType="book">
UPDATE
		BOOK
SET
		CATEGORY_ID = #{categoryId},
		BOOK_TITLE = #{bookTitle},
		BOOK_AUTHOR = #{bookAuthor},
		BOOK_PUBLISHER = #{bookPublisher},
		BOOK_PUB_DATE =#{bookPubDate},
		BOOK_PRICE = #{bookPrice},
		BOOK_DESCRIPTION = #{bookDescription},
		BOOK_COVER = #{bookCover},
		BOOK_UPDATE_DATE = SYSDATE,
		BOOK_AMOUNT = #{bookAmount}	
WHERE
		BOOK_NO = #{bookNo}
</update>

<update id="updateBookDetail" parameterType="bookDetail">
UPDATE
		BOOK_DETAIL
SET
		DETAIL_IMAGE = #{detailImage},
		DETAIL_DESCRIPTION =#{detailDescription}
WHERE
		BOOK_NO = #{bookNo}
</update>

</mapper>
