<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.bookjeok.cart.model.dao.CartMapper">

    <!-- 장바구니 항목 추가 -->
    <insert id="addToCart" parameterType="map">
        INSERT INTO CART (
            CART_NO,
            BOOK_NO,
            USER_ID,
            CART_TOTAL,
            CART_AMOUNT 
        ) VALUES (
            CART_SEQ.NEXTVAL,
            #{bookNo},
            #{userId},
            #{cartTotal},
            #{cartAmount}
        )
    </insert>


    <!-- 장바구니 항목 삭제 -->
    <delete id="deleteCart" parameterType="map">
        DELETE 
        FROM 
        		CART
        WHERE 
        		USER_ID = #{userId}
        AND 
        		BOOK_NO = #{bookNo}
    </delete>

    <!-- 장바구니 항목 조회 -->
    <select id="getCartItems" parameterType="string" resultType="cart">
        SELECT 
            CART_NO cartNo,
            BOOK_NO bookNo,
            USER_ID userId,
            CART_TOTAL cartTotal,
            CART_AMOUNT cartAmount
        FROM 
            CART
        WHERE 
            USER_ID = #{userId}
    </select>

    <!-- 특정 장바구니 항목 조회 -->
    <select id="selectCartItem" parameterType="map" resultType="cart">
        SELECT 
            CART_NO cartNo,
            BOOK_NO bookNo,
            USER_ID userId,
            CART_TOTAL cartTotal,
            CART_AMOUNT cartAmount
        FROM 
            CART
        WHERE 
            USER_ID = #{userId}
        AND 
            BOOK_NO = #{bookNo}
    </select>

    <!-- 장바구니 항목 병합 -->
    <update id="mergeCart" parameterType="map">
        UPDATE 
        		CART
        SET 
        		USER_ID = #{newUserId}
        WHERE 
        		USER_ID = #{tempUserId}
    </update>

	<!-- 구매 성공하면 지워야할 구문이에요 -->
    <!-- 장바구니 항목 구매 -->
<delete id="purchaseItems" parameterType="map">
    DELETE 
    FROM 
    		CART
    WHERE 
    		USER_ID = #{userId}
    AND 
    		BOOK_NO = #{bookNo}
</delete>
<select id="bookAndCartByBookNo" resultType="com.kh.bookjeok.cart.model.vo.BookAndCart">
	 SELECT
        b.BOOK_NO bookNo,
        b.BOOK_TITLE bookTitle,
        b.BOOK_AUTHOR bookAuthor,
        b.BOOK_PUBLISHER bookPublisher,
        b.BOOK_PUB_DATE bookPubDate,
        b.BOOK_ISBN bookIsbn,
        b.BOOK_PRICE bookPrice,
        b.BOOK_DESCRIPTION bookDescription,
        b.BOOK_COVER bookCover,
        b.BOOK_CREATE_DATE bookCreateDate,
        b.BOOK_UPDATE_DATE bookUpdateDate,
        b.BOOK_AMOUNT bookAmount,
        b.BOOK_STATUS bookStatus,
        b.CATEGORY_ID categoryId,
        c.CART_NO cartNo,
        c.USER_ID userId,
        c.CART_TOTAL cartTotal,
        c.CART_AMOUNT cartAmount
    FROM
        BOOK b
    JOIN
        CART c ON b.BOOK_NO = c.BOOK_NO
    WHERE
        b.BOOK_NO = #{bookNo}
    AND
        c.USER_ID = #{userId}
</select>

 <!-- 장바구니 수량 업데이트 -->
<update id="updateCartQuantity">
    UPDATE 
    		CART
    SET 
    		CART_AMOUNT = #{cartAmount},
        	CART_TOTAL = (SELECT 
        							BOOK_PRICE 
      						FROM 
      								BOOK 
    						WHERE 
    								BOOK_NO = #{bookNo}) * #{cartAmount}
    WHERE 
    		USER_ID = #{userId}
    AND 
    		BOOK_NO = #{bookNo}
</update>

</mapper>
