<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<typeAlias type="com.kh.bookjeok.book.model.vo.Book" alias="book"/>		
		<typeAlias type="com.kh.bookjeok.book.model.vo.TopCategory" alias="topCategory"/>
		<typeAlias type="com.kh.bookjeok.book.model.vo.LowerCategory" alias="lowerCategory"/>
		<typeAlias type="com.kh.bookjeok.book.model.vo.MidCategory" alias="midCategory"/>
		<typeAlias type="com.kh.bookjeok.book.model.vo.UpperCategory" alias="upperCategory"/>
		<typeAlias type="com.kh.bookjeok.book.model.vo.BookDetail" alias="bookDetail"/>
	    <typeAlias type="com.kh.bookjeok.member.model.vo.Member" alias="member"/>	
	    <typeAlias type="com.kh.bookjeok.book.model.vo.BookReview" alias="bookReview"/>	
	    <typeAlias type="com.kh.bookjeok.book.model.vo.ReviewAvg" alias="reviewAvg"/>	
	    <typeAlias type="com.kh.bookjeok.cart.model.vo.Cart" alias="cart"/>	
	    <typeAlias type="com.kh.bookjeok.mypage.model.vo.Payment" alias="payment"/>
	    <typeAlias type="com.kh.bookjeok.mypage.model.vo.PaymentPerbook" alias="paymentperbook"/>
	    <typeAlias type="com.kh.bookjeok.qna.model.vo.Question" alias="question"/>
		<typeAlias type="com.kh.bookjeok.book.model.vo.BookCategoryDetail" alias="bookCategoryDetail"/>
    
	</typeAliases>
	

	<mappers>
		<mapper resource="/mapper/book-mapper.xml"/>
		<mapper resource="/mapper/member-mapper.xml"/>
		<mapper resource="/mapper/cart-mapper.xml"/>
		<mapper resource="/mapper/payment-mapper.xml"/>
	</mappers>
	
</configuration>