<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<typeAlias type="com.kh.bookjeok.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.kh.bookjeok.notice.model.vo.notice" alias="notice"/>	
	</typeAliases>

	<mappers>
		<mapper resource="/mapper/member-mapper.xml"/>
		<mapper resource="/mapper/member-mapper.xml"/>
	</mappers>
	
</configuration>