<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<!-- 
	<typeAliases>
		<typeAlias type="com.kh.spring.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.kh.spring.board.model.vo.Board" alias="board"/>		
		<typeAlias type="com.kh.spring.notice.model.vo.Notice" alias="notice"/>	
		<typeAlias type="com.kh.spring.board.model.vo.Reply" alias="reply"/>		
	</typeAliases>
	 -->	
	<!-- 
	<mappers>
		<mapper resource="/mapper/member-mapper.xml"/>
		<mapper resource="/mapper/board-mapper.xml"/>
		<mapper resource="/mapper/notice-mapper.xml"/>
	</mappers>
	 -->
	
</configuration>